.title {
    background-color: #94979c;
}

.cell {
    background-color: #adc0e0;
}

.title, .cell {
    padding: 8px;
    border: 1px solid white;
}

.not-finished {
    background-color: #e0adce;
}

.item {
    margin: 40px 20px 10px 20px;
    border: 2px solid gray;
}

.buttons {
    margin: 1px 1px 1px 20px;
}

.action-title {
    padding: 10px 20px;
}

.mission {
    background-color: #eaeaea;
    padding: 8px;
}

.mission-logo {
    margin: 12px 0;
    font-family: monospace;
    font-size: 20px;
    /*text-align: end;*/
    font-weight: 600;
}

.mission-user{
    margin: 12px 0;
}

.mission-user a{
    color: black;
    font-weight: 700;
}
.mission-user a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 20px #4c4040;
}

.slogan {
    color: #b3d2ec;
    margin: 7px;
}

.red {color: #ff3721}